.aboutDiv {
  padding: 20px;
  box-sizing: border-box;
}

.aboutDiv h1 {
  text-align: center;
  color: var(--c2);
  font-size: 25px;
  border-bottom: 1px solid var(--c2);
  margin-bottom: 60px;
}

.aboutDiv p {
  text-align: justify;
  margin-bottom: 20px;
}

.faReact {
  display: block;
  text-align: center;
  font-size: 120px;
  margin: 20px auto 20px;
}
