.optionsList {
  width: 100%;
  box-sizing: border-box;
}

.singleOption {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--c2);
  font-size: 16px;
  color: var(--c4);
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}

.singleOption:active{
  background-color: var(--c3);
  color: var(--c0);
}

.checkBox {
  float:right;
  width: 20px;
  height: 20px;
}

.checkBox input {
  width: 20px;
  height: 20px;
  position: relative;
  top: -5px;
  left: -5px;
}
