.headingDiv {
  width: 100%;
  height: 80px;
  background-color: var(--c1);
  border-bottom: 1px solid var(--c2);
  position: relative;
  z-index: 1;
}

.headingText {
  font-size: 20px;
  font-weight: bold;
  color: var(--c3);
  text-align: left;
  position: absolute;
  bottom: 10px;
  margin: 0px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.mainDiv {
  width: 100%;
  height: calc(100% - 81px);
  position: relative;
}

.centerContent {
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  left: calc(50% - 40vmin);
  top: calc(50% - 40vmin);
}

.iconPart {
  font-size: 60vmin;
  width: 100%;
  color: var(--c3);
  text-align: center;
  position: relative;
  height: 80%;
}

.buttonsPart {
  position: relative;
  height: 20%;
  width: 100%;
}

.buttonDiv {
  position: relative;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  color: var(--c3);
  padding: 8px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 3px solid var(--c3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
