.mainDiv {
  padding: 20px;
  box-sizing: border-box;
}

.continentImageDiv {
  width: 100%;
  padding-top: 60%;
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
}

.continentImage {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0px;
  left: 0px;
}

.questionAnswer {
  width: 100%;
  padding: 20px;
  font-size: 23px;
  box-sizing: border-box;
  background-color: var(--c1);
  color: var(--c3);
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  text-align: left;
  position: relative;
}

.rightAnswer {
  background-color: var(--c3);
  color: var(--c0);
}

.wrongAnswer {
  background-color: var(--c5);
  color: var(--c0);
}

.neutral {

}

.questionCheck {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 50px;
  font-size: 32px;
}

.questionCheck .faCheck, .questionCheck .faTimes {
  display: none;
}

.rightAnswer .faCheck {
  display: inline-block !important;
}

.wrongAnswer .faTimes {
  display: inline-block !important;
}
