.resultDiv {
  padding: 20px;
  text-align: center;
}

.resultText {
  font-size: 32px;
  color:var(--c2);
  margin: 0px;
}

.resultDiv span {
  display: block;
  font-size: 64px;
  color: var(--c3);
}

.resultIcon {
  font-size: 120px;
  color: var(--c3);
  margin-top: 50px;
}

.returnButton {
  padding: 20px;
  background-color: var(--c3);
  margin: 50px auto 50px;
  border-radius: 10px;
  color: var(--c0);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
