.headingDiv {
  width: 100%;
  height: 80px;
  background-color: var(--c1);
  border-bottom: 1px solid var(--c2);
  position: relative;
  z-index: 1;
}

.headingText {
  font-size: 20px;
  color: var(--c3);
  text-align: left;
  position: absolute;
  bottom: 10px;
  margin: 0px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  text-decoration: none;
}
