.nav {
  width: 100%;
  height: 60px;
  background-color: var(--c1);
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid var(--c2);
  display: flex;
}

.navDivItem {
  width: 25%;
  height: 60px;
  position: relative;
}

.navItem {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: var(--c2);
}

.navItem i {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.navItem p {
  font-size: 12px;
  text-align:center;
  display: block;
  width: 100%;
  margin: 5px 0px;
}

.navItemActive {
  color: var(--c3);
}
