.scoreDiv {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
}

.scoreId {
  width: 50px;
  height: 50px;
  border: 3px solid var(--c3);
  border-radius: 10px;
  text-align: center;
  color: var(--c3);
  line-height: 56px;
  vertical-align: middle;
  font-size: 23px;
}

.scoreInfo {
  width: calc(100% - 106px);
  padding: 5px 10px;
  box-sizing: border-box;
}

.scoreDate {
  margin: 0px;
  color: var(--c2);
  font-size: 13px;
}

.scoreValue {
  margin: 0px;
  color: var(--c3);
  font-size: 25px;
}

.scoreDelete {
  width: 50px;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: var(--c3);
  font-size: 23px;
}

.scoreDelete:focus {
  color: var(--c2);
}

.scoreDelete i {
  position: relative;
  top: 5px;
}
